build/
tests_build/
bin/
obj/

*.db
*.db-journal
*.db-shm
*.db-wal

.vs/
.vscode/
.idea/
*.user
*.suo
*.sln.docstates

brain/
output.txt
*.log

CMakeCache.txt
CMakeFiles/
CMakeSettings.json
cmake_install.cmake
Makefile
